
/* Media */
.media {
  width: 130px;
  height: 69.75px;

  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3px;
  column-gap: 3px;

  list-style-type: none;
}



.media li {
  margin: 0;
  height: 30px;
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.media li a {
  margin: 0 !important;

  display: grid;
  text-align: center;
  align-items: center;

  font-size: 1.325rem;
  color: white
}
.media li a .fab:hover {
  opacity: 0.7;
}

.list__fes--tag li {
    margin: 10px 0px;
}

.list-fes-right li a:hover {
    border: 1px solid white;
    padding: 2px 5px;
    border-radius: 14px;
}