<!--THE BEST Book-->

<h1 style="border: none">THE BEST FESTIVALS</h1>

<div class="col-md-12">
    <a class="carousel-control-prev float-right" href="#carouselExampleIntervalcenterBk" role="button" data-slide="prev"
        style="margin-left:80%;margin-top:-30px">
        <span aria-hidden="true">
            <h4><i class="fas fa-angle-left"></i></h4>
        </span>
    </a>
    <a class="carousel-control-next float-right" href="#carouselExampleIntervalcenterBk" role="button" data-slide="next"
        style="margin-right:-5%;margin-top:-30px">
        <span aria-hidden="true">
            <h4><i class="fas fa-angle-right"></i></h4>
        </span>
    </a>
</div>

<div id="carouselExampleIntervalcenterBk" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item  row" data-interval="2000">
            <a href="helloween.html">
                <div class="col-md-12">
                    <img src="images/hlw1.jpg" class="img-fluid">
                </div>
                <div class="col-md-12">
                    Halloween festival has the original name of "All Hallows’Eve"...
                </div>
            </a>
        </div>
        <div class="carousel-item active row" data-interval="2000">
            <a href="Noel.html">
                <div class="col-md-12">
                    <img src="images/noel1.jpg" class="img-fluid">
                </div>
                <div class="col-md-12">
                    Christmas is celebrated on December 25 and is both a sacred ...
                </div>
            </a>
        </div>
        <div class="carousel-item row" data-interval="2000">
            <a href="Technology_MWC_2019.html">
                <div class="col-md-12">
                    <img src="images/mwc2019.jpg" class="img-fluid">
                </div>
                <div class="col-md-12">
                    MWC - Barcelona is an annual exhibition organized by GSMA...
                </div>
            </a>
        </div>
        <div class="carousel-item row" data-interval="2000">
            <a href="food.html">
                <div class="col-md-12">
                    <img src="images/Cook.jpg" class="img-fluid">
                </div>
                <div class="col-md-12">
                    This one is amazing. At Eastertime we British are dreaming ...
                </div>
            </a>
        </div>
        <div class="carousel-item row" data-interval="2000">
            <a href="firework.html">
                <div class="col-md-12">
                    <img src="images/fwk1.jpg" class="img-fluid">
                </div>
                <div class="col-md-12">
                    Originally used to ward off evil spirits, fireworks (花火, Hanabi)...
                </div>
            </a>
        </div>
        <div class="carousel-item row" data-interval="2000">
            <a href="flower.html">
                <div class="col-md-12">
                    <img src="images/flw1.jpg">
                </div>
                <div class="col-md-12">
                    The Flower Festival Parade, held since 1979, is one of the most striking...
                </div>
            </a>
        </div>
        <div class="carousel-item row" data-interval="2000">
            <a href="Art.html">
                <div class="col-md-12">
                    <img src="images/art1.jpg">
                </div>
                <div class="col-md-12">
                    Join us for a taste of all the great things coming to the West...
                </div>
            </a>
        </div>

    </div>

</div>